h1 {
    color: blue;
    text-align: center;
    font-style: italic;
    font-size: 100px;
}

a {
    color: red;
    text-decoration: none;
}
a:hover {
    color:green;
    text-decoration:underline;
}

h2 {
    text-align: center;
    font-style: italic;
}
img {
    border:9px;
    size:200px;
    border-style: double;
    border-radius: 5%;

}

p {
    font-style: italic;
    color: blueviolet;
}
.container
{
    background-color: grey;
    padding: 20px;
    width:300px ;
    text-align: center;
}
button {
    background-color:blue;
    color:white;
    border-radius: 5px;
    margin-top: 20px;
    display:block
}
button:hover {
    background-color: green;
    text-decoration: none;
    font-weight: bold;
}
section {
    padding: 10px;
    border:2px;
    margin-left: 100px;
}
